fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
openai

# Optional (for deployment or frontend CORS)
httpx
python-multipart
jinja2

# If using PostgreSQL instead of SQLite
psycopg2-binary

# For voice/translation features
SpeechRecognition
pyaudio
#gtts
#langdetect
#transformers

alembic==1.12.1
passlib[bcrypt]
pydantic[email]
gTTS==2.5.1

